!.idea/codeStyles
!.idea/runConfigurations
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.cache
.cache/
.com.apple.timemachine.donotpresent
.dart_tool/
.directory
.DocumentRevisions-V100
.docusaurus
.DS_Store
.dynamodb/
.env
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.env*
.eslintcache
.flutter-plugins
.flutter-plugins-dependencies
.fseventsd
.fuse_hidden*
.fusebox/
.fvm/flutter_sdk
.grunt
.history
.idea_modules/
.idea/*
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/misc.xml
.idea/replstate.xml
.idea/sonarlint/
.ionide
.lock-wscript
.LSOverride
.next
.nfs*
.node_repl_history
.npm
.nuxt
.nyc_output
.packages
.parcel-cache
.pnp.*
.pnpm-debug.log*
.pub-cache/
.pub/
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.Spotlight-V100
.stylelintcache
.svelte-kit
.temp
.TemporaryItems
.tern-port
.Trash-*
.Trashes
.VolumeIcon.icns
.vscode-test
.vscode/*
.vuepress/dist
.webpack/
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
[Dd]esktop.ini
*.cab
*.dart.js
*.icloud
*.iml
*.info.json
*.ipr
*.iws
*.js
*.js_
*.js.deps
*.js.map
*.lcov
*.lnk
*.log
*.msi
*.msix
*.msm
*.msp
*.pid
*.pid.lock
*.seed
*.stackdump
*.tgz
*.tsbuildinfo
*.vsix
**/android/.gradle
**/android/**/GeneratedPluginRegistrant.java
**/android/**/gradle-wrapper.jar
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/key.properties
**/android/local.properties
**/ios/.generated/
**/ios/**/.sconsign.dblite
**/ios/**/.symlinks/
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/Flutter/.last_build_id
**/ios/Flutter/app.flx
**/ios/Flutter/App.framework
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/ServiceDefinitions.json
*~
$RECYCLE.BIN/
atlassian-ide-plugin.xml
bower_components
build/
build/Release
cmake-build-*/
com_crashlytics_export_strings.xml
coverage
coverage/
crashlytics-build.properties
crashlytics.properties
dist
doc/api/
ehthumbs_vista.db
ehthumbs.db
fabric.properties
Icon
jspm_packages/
lerna-debug.log*
lib-cov
lib/generated_plugin_registrant.dart
logs
modules.xml
Network Trash Folder
node_modules/
npm-debug.log*
out
out/
pids
pubspec.lock
pubspec.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
Temporary Items
Thumbs.db
Thumbs.db:encryptable
web_modules/
yarn-debug.log*
yarn-error.log*
Arbify/
